* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-lighter-green: hsl(148, 38%, 91%);
  --primary-medium-green: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-medium-grey: hsl(186, 15%, 59%);
  --neutral-darker-grey: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-color: var(--primary-lighter-green);
}

#app {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--neutral-white);
  margin: 3.2rem 1.6rem;
  border-radius: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

fieldset {
  border: none;
}

button {
  border: none;
}
